body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
  list-style-type: none;
}

/* NAVBAR */
.navbar {
  background-color: aliceblue;
  border-bottom: 1px solid rgb(49, 49, 49);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 800px;
}

.navlinks {
  display: flex;
  gap: 20px;
  margin: 0;
}

.link-style {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 20px;
  color: rgb(82, 82, 82);
}

h1 .link-style {
  font-size: 24px;
}